@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* ---------------------------
    Navbar: BEGINNING
--------------------------- */
.navbar-brand{
    font-weight: 600;
    letter-spacing: 2px;
}

/* ---------------------------
    Navbar: END
--------------------------- */

/* ---------------------------
    Tendance bloc: BEGINNING
--------------------------- */
.bloc_title{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.bloc_list{
    padding: 10px 25px;
}

.bloc_image {
    max-height: 270px;
}

.bloc_image > img {
    object-fit: contain;
    max-height: 270px;
}

/* ---------------------------
    Tendance bloc: END
--------------------------- */