{% extends "layout.html" %}

{% block content %}
    <div class="bloc_container w-100 ml-1">
        <h2 class="bloc_title">Tendances actuelles</h2>
        <div class="bloc_list w-100 d-flex flex-row justify-content-evenly align-items-center flex-wrap">
            {% for movie in trending %}
                <a href="/movie/{{movie.id}}" class="bloc_image m-2">
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
