{% extends "layout.html" %}
{% block content %}
    <div class="bloc_container">
        <h2 class="bloc_title">Trending</h2>

        {% for movie in trending %}
        <div class="bloc_list">
            <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }} poster" class="bloc_image">
            <div class="text-center">
                <a href="/movie/{{movie.id}}">
                    {% if movie.title %}
                    <h4>{{ movie.title }}</h4>
                    {% else %}
                    <h4>{{ movie.name }}</h4>
                    {% endif %}
                     
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
