{% extends "layout.html" %}

{% block content %}
    <div class="bestMovie_container w-100">
        <div class="row align-items-center justify-content-center">
            <div class="col pl-5">
                <div class="bestMovie_title">
                    {{ mostPopularMovie.title }}
                </div>
                <div class="bestMovie_description text-justify mt-5">
                    {{ mostPopularMovie.overview }}
                </div>
                <div class="bestMovie_buttons mt-4">
                    <a href="/movie/{{mostPopularMovie.id}}" class="btn btn-secondary">Plus d'infos</a>
                    <a href="{{mostPopularMovieTrailer}}" class="btn btn-light">
                        <img src="{{ url_for('static', filename='images/icon_play_button.png') }}" alt="icon" class="btn__play">
                        Trailer
                    </a>
                </div>
            </div>
            <div class="col">
                <img src="https://image.tmdb.org/t/p/w500/{{ mostPopularMovie.poster_path }}" alt="First slide" class="bestMovie_image">
            </div>
        </div>
        
    </div>
    <div class="bloc_container w-100 p-2">
        <h2 class="bloc_title pl-4">Tendances actuelles</h2>
        <div class="bloc_list w-100 d-flex flex-row justify-content-evenly align-items-center flex-wrap">
            {% for movie in trending %}
                <a href="/movie/{{movie.id}}" class="bloc_image m-2">
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
